<div id="pn-menus-static">
    {{#if static.sections}}
        {{#each static.sections}}
            <p>{{this.title}}</p>
            {{#if this.items}}
                {{#each this.items}}
                    <a id="pane-menu-{{this.code}}" href="#{{this.code}}" onclick="app.sidepane.close();">
                        <i class="{{this.iconClass}} lm-15 rm-15"></i>
                        <span>{{this.title}}</span>
                    </a>
                {{/each}}
            {{/if}}
        {{/each}}
    {{/if}}
</div>