.pn-content a {
    font-size: 16px;
    font-weight: 800;
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 7px; /* Add some padding */
    margin-bottom: 6px;
    text-decoration: none; /* Remove underline from links */
    border-radius: 50px;
    border: 0px solid transparent;
    transition: 0.3s;
}

.pn-content p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    display: block; /* Make the links appear below each other */
    padding: 0px; /* Add some padding */
    margin: 10px 0 10px 0;
    text-decoration: none; /* Remove underline from links */
    text-shadow: 0px 1px 1px darkgray;
	color: #4d4d4d;
}
  
.pn-content a:hover {
    border-color: var(--app-main-color-70);
    background-color: var(--app-main-color-70); 
}
  
.pn-content a.active {
    background-color: var(--app-main-color); /* Add a green color to the "active/current" link */
    color: var(--app-main-font-color);
    border-color: var(--app-main-color);
}