<div id="app-loader" class="default-loader">
</div>

<div id="app-page" class="splash-flex">
    <div id="app-container" class="pg-content">
        <!-- app pages content need to be injected here! -->
    </div>
    <div class="pg-bar bottom-shadow">
        <i class="{{static.sidePane.open.iconClass}} pg-bar-button lp-16 rp-16 lm-10" onclick="app.sidepane.toggle()"></i>
        <div id="topbar-container" class="tb-content lm-10 rm-15">
            <!-- app topbar menu content need to be injected here! -->
        </div>
        <a id="app-avatar-link" class="rm-10" href="#signin">
            <img id="app-avatar" src="{{static.assets.defaultUserImage}}" alt="{{static.assets.defaultUserImage}}" class="pg-avatar"> 
        </a>
    </div>
</div>  
<div id="app-pane">
    <div id="pane-container" class="pn-content">
        <!-- app sidepane menu content need to be injected here! -->
    </div>
    <div class="pn-bar bottom-shadow" onclick="app.sidepane.toggle()">
        <i class="{{static.iconClass}} pn-bar-title lm-15 rm-15"></i>
        <div class="flex-filler titan pn-bar-title">
            {{static.title}}
        </div>
        <i class="{{static.sidePane.close.iconClass}} pn-bar-button lp-18 rp-18 rm-10"></i>
    </div>
</div>

<div id="app-splash" class="splash-flex">
    <!-- injected content will be displayed as full screen on top! -->
</div>

<!-- 
    {{#if appdata.user.imageUrl}}
        <img src="{{appdata.user.imageUrl}}" class="pg-bar-circle-image">
    {{else}}
        <img src="{{static.user.defaultUrl}}" class="pg-bar-circle-image">  
    {{/if}}
-->