body {
    background-color: var(--common-background-color);
    color: var(--common-color);
}

#app-pane
{ 
    background: var(--app-background-color); 
    box-shadow: 0px 10px 10px 2px var(--drop-shadow-color-2);
}

#app-page
{ 
    height: 100%;
    min-height: 100%;
}

.bottom-shadow {
    -webkit-box-shadow: 0px 0px 4px 2px var(--drop-shadow-color);
    -moz-box-shadow: 0px 0px 4px 2px var(--drop-shadow-color);
    box-shadow: 0px 0px 4px 2px var(--drop-shadow-color);
}

.pg-bar {
    position: fixed; 
    left: 0; 
    right: 0; 
    top: 0; 
    height: var(--app-bar-size);
    display: flex; 
    align-items: center; 
    background: var(--app-main-color); /* rgb(0, 77, 64); /* #004D40; */ 
    color: var(--app-main-font-color);
}

.pg-content {
    position: fixed; 
    left: 0; 
    right: 0; 
    top: var(--app-bar-size); 
    bottom: 0;
    padding: 20px;
    align-items: center; 
    color: var(--common-color);
    overflow: auto;
}

.pg-content::-webkit-scrollbar-track
{
	border-radius: 0px;
}

.pg-content::-webkit-scrollbar
{
	width: 5px;
}

.pg-content::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background: var(--app-main-color);
}

.pn-content {
    position: absolute; 
    left: 0; 
    right: 0; 
    top: var(--app-bar-size); 
    bottom: 0;
    padding: 20px;
    align-items: center; 
    color: var(--common-color);
    overflow: auto;
    background-image: repeating-linear-gradient(
        45deg, 
        transparent, 
        transparent 5%, 
        var(--app-main-color-70) 70%, 
        var(--app-main-color-3-70) 100%
    );
}

.pn-content::-webkit-scrollbar-track
{
	border-radius: 0px;
}

.pn-content::-webkit-scrollbar
{
	width: 5px;
}

.pn-content::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background: var(--app-main-color);
}

.tb-content {
    flex: 1; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    overflow-x: auto;
}

.tb-content::-webkit-scrollbar-track
{
	border-radius: 0px;
}

.tb-content::-webkit-scrollbar
{
	height: 5px;
}

.tb-content::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background: var(--app-main-color-3);
}

.pg-bar-button {
    background-color: var(--app-main-color-2);  
    border-radius: 3px; 
    padding: 15px; 
    cursor: pointer;
    color: var(--app-main-font-color);
}

.pn-bar {
    position: absolute; 
    left: 0;
    right: 0; 
    top: 0; 
    height: var(--app-bar-size);
    display: flex; 
    align-items: center; 
    background: var(--app-main-color-3); /* rgb(0, 54, 45); */ 
    color: var(--app-main-font-color);
}

.pn-bar-button {
    background-color: var(--app-main-color-4); /* rgb(0, 54, 45); */ 
    border-radius: 3px; 
    padding: 15px; 
    cursor: pointer;
    color: var(--app-main-font-color);
}

.pn-bar-title {
    text-shadow: 0px 1px 1px var(--drop-shadow-color-2);
    font-size: 18px;
}

.pg-avatar {
    border-radius: 50%; 
    height: var(--app-avatar-size); 
    width: var(--app-avatar-size);
    /*
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 1);
    */
    border: 0px var(--app-avatar-border-color) solid;
    cursor: pointer;
}

.navlink
{ 
    padding: 20px 15px;	
}

.default-loader {
    position: fixed; 
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    z-index: 9999999;
    margin: calc(-1 * 60px / 2) 0 0 calc(-1 * 60px / 2);
    border-radius: 50%;
    border-top: 16px solid var(--app-main-color);
    border-right: 16px solid var(--app-main-color-3);
    border-bottom: 16px solid var(--app-main-color-2);
    border-left: 16px solid var(--app-main-color-4);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}