.default-loader {
  top: 75%;
}

.splash-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

p {
  margin: 0;
  padding: 0;
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

b {
  font-weight: 800;
}

.title {
  font-weight: 800; 
  font-size: 250px;
  color: #333;

  -webkit-text-stroke-width: 7px;
  -moz-text-stroke-width: 7px;

  animation: stroke-animation 1s linear infinite;
  animation-direction: alternate;
}

@keyframes stroke-animation {
  0% {
    -webkit-text-stroke-color: #ddd;
    -moz-text-stroke-color: #ddd;
  }
  100% {
    -webkit-text-stroke-color: #dc3545;
    -moz-text-stroke-color: #dc3545;
  }
  
  /*
  40% {
    -webkit-text-stroke-color: #3498DB;
    -moz-text-stroke-color: #3498DB;
  }
  60% {
    -webkit-text-stroke-color: #E67E22;
    -moz-text-stroke-color: #E67E22;
  }
  80% {
    -webkit-text-stroke-color: #2ECC71;
    -moz-text-stroke-color: #2ECC71;
  }
  100% {
    -webkit-text-stroke-color: #9B59B6;
    -moz-text-stroke-color: #9B59B6;
  }
  */
}

.message {
  font-size: 62px;
}

.pnf-action-button {
  width: 150px;
  height: 40px;
  font-size: 16px;
  font-weight: 800;
  display: block;
  display: inline-block;
  position: fixed;
  top: calc(50% - 160px);
  left: calc(50% + 200px); border-radius: 20px;
}

#pnf-splash {
  background: repeating-radial-gradient(circle, 
  #474747, #474747 120px, 
  #575757 0, #575757 240px);
}

.diagonal-stripe {
  background: 
  /* On "top" */
  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 80px,
    #ccc 80px,
    #ccc 160px
  ),
  /* on "bottom" */
  linear-gradient(
    to bottom,
    #eee,
    #999
  );
}

.circle-stripe {
  background: repeating-radial-gradient(circle, 
    #474747, #474747 120px, 
    #575757 0, #575757 240px);
}

@media (max-width: 600px) {
  .title {
    font-size: 150px;

    -webkit-text-stroke-width: 4px;
    -moz-text-stroke-width: 4px;
  }

  .pnf-action-button {  
    top: calc(50% + 97px);
    left: calc(50% - 75px);
  }
}