<div id="pnf-splash" class="splash-flex">
    <p class="title" title="{{static.tip}}">{{static.title}}</p>
</div>
<a href="#home" class="btn btn-danger pnf-action-button">
    <i class="{{static.buttons.home.iconClass}} rp-5"></i>
    <span>{{static.buttons.home.title}}</span>
</a>