{{#if static.pov.action}}



<div class="containerr">
  <div class="cardds">        
    {{#if static.calls.one.result}}
      {{#if static.calls.one.result.objects}}
        {{#each static.calls.one.result.objects}}
          <a id="object-card-{{this.id}}" class="cardd" href="#objects/{{this.id}}">
            <span class="cardd-header obj-header">
              <span class="cardd-objects">
                <h1>{{this.objects.length}}</h1>
              </span>
              <span class="cardd-title obj-title">
                <h3>{{this.object_name}}</h3>
              </span>
            </span>
            <span class="cardd-summary">
              {{this.object_desc}}
              <p class="header"><b>Schema</b></p>
              <p class="details">{{this.schema_name}}</p>
              <p class="header"><b>System</b></p>
              <p class="details">{{this.system_code}}</p>
            </span>
            <span class="cardd-meta">
              Schema: {{this.schema_name}} ({{this.system_code}})
            </span>
          </a>
        {{/each}}
      {{/if}}
    {{/if}}
  </div>
</div>



{{else}}



<div class="containerr">
  <div class="cardds">        
    {{#if static.calls.all.result}}
        {{#each static.calls.all.result}}
          <a id="application-card-{{this.id}}" class="cardd" href="#applications/{{this.id}}">
            <span class="cardd-header">
              <span class="cardd-objects">
                <h1>{{this.objects.length}}</h1>
              </span>
              <span class="cardd-title">
                <h3>{{this.description}}</h3>
              </span>
            </span>
            <span class="cardd-summary">
              {{this.summary}}
            </span>
            <span class="cardd-meta">
              Published: {{formatDate this.publish_date_time day="numeric" month="short" year="numeric"}}
            </span>
          </a>
        {{/each}}
    {{/if}}
  </div>
</div>



{{/if}}

