<div id="contact-page">
  <h1 class="bp-20">Contact</h1>
  <nav>
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#dashboard">Dashboard</a></li>
    <li><a href="#applications">Applications</a></li>
    <li><a href="#objects">Objects</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>

</div>
<!--
<iframe style="width:100%; height:600px" src="https://tableaudev.woolworths.com.au/t/RetailAnalytics/views/EDGWeeklySalesDashboardV5_0/Summary?iframeSizedToWindow=true&:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no">
</iframe>
-->