<style>
    .default-loader {
        top: 75%;
    }
</style>
<div id="signin-splash" class="splash-flex">
    <div style="text-align: center;">
        <img id="app-icon-splash" src="{{appdata.assets.appLogoImage}}" style="width: 150px;"/>
        <br>
        <button id="google-signin" type="button" class="tm-20">
        </button>
    </div>
</div>
<div id="signin-overlay" class="splash-flex">
    <img id="app-icon-overlay" src="{{appdata.assets.appLogoImage}}" style="width: 150px;"/>
</div>