:root {
    --default-font-family: 'Roboto', sans-serif;

    --common-background-color: white;
    --common-background-color-2: black;
    --common-color: black;
    --common-color-2: white;

    --drop-shadow-color: #807c7c;
    --drop-shadow-color-2: rgba(0,0,0,0.2);
 
    --app-background-color: #ddd;
    --app-background: linear-gradient(45deg, #eeeeee 16.67%, #dddddd 16.67%, #dddddd 33.33%, #cccccc 33.33%, #cccccc 50%, #eeeeee 50%, #eeeeee 66.67%, #dddddd 66.67%, #dddddd 83.33%, #cccccc 83.33%, #cccccc 100%);

    --app-main-color: #3498DB;
    --app-main-color-2: #3498DB; /* #2E86C1; */
    --app-main-color-3: #2874A6;
    --app-main-color-4: #2874A6; /* #21618C; */

    --app-main-color-70: rgba(52, 152, 219, 0.25);
    --app-main-color-3-70: rgba(40, 116, 166, 0.25);

    --app-main-font-color: #eee;

    --app-avatar-size: 48px;
    --app-avatar-border-color: #222;
    
    --app-bar-size: 64px;
}