@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Aclonica|Titan+One:400,500,600,700,800,900|Ultra:400,500,600,700,800,900|Lato:400,700,800,900|Merriweather:400,700,800,900,900i|Montserrat:400,500,600,700,800,900|Oswald:400,500,600,700|Roboto:100,200,300,400,500,700,900');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-weight: 300;
}

h1 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 32px;
}
h2 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 28px;
}
h3 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 24px;
}
h4 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 20px;
}
h5 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 16px;
}
h6 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 14px;
}

.splash-flex
{
    overflow: hidden;
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    display: flex;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center;
    background: var(--app-background);
}

.rm-bkgd {
    background: transparent;
}

.aclonica
{
    font-family: 'Aclonica', sans-serif !important;
}

.ultra {
    font-family: 'Ultra', serif !important;
}

.titan {
    font-family: 'Titan One', cursive !important;
}

.roboto {
    font-family: 'Roboto', sans-serif !important;
}
  
.merriweather {
    font-family: 'Merriweather', sans-serif !important;
}
  
.montserrat {
    font-family: 'Montserrat', sans-serif !important;
}
  
.oswald {
    font-family: 'Oswald', sans-serif !important;
}
  
.lato {
    font-family: 'Lato', sans-serif !important;
}
  
.bold {
    font-weight: bold !important;
}



.bm-0 {
    margin-bottom: 0px !important;
}
.bm-1 {
    margin-bottom: 1px !important;
}
.bm-2 {
    margin-bottom: 2px !important;
}
.bm-3 {
    margin-bottom: 3px !important;
}
.bm-4 {
    margin-bottom: 4px !important;
}
.bm-5 {
    margin-bottom: 5px !important;
}
.bm-6 {
    margin-bottom: 6px !important;
}
.bm-7 {
    margin-bottom: 7px !important;
}
.bm-8 {
    margin-bottom: 8px !important;
}
.bm-9 {
    margin-bottom: 9px !important;
}
.bm-10 {
    margin-bottom: 10px !important;
}
.bm-11 {
    margin-bottom: 11px !important;
}
.bm-12 {
    margin-bottom: 12px !important;
}
.bm-13 {
    margin-bottom: 13px !important;
}
.bm-14 {
    margin-bottom: 14px !important;
}
.bm-15 {
    margin-bottom: 15px !important;
}
.bm-16 {
    margin-bottom: 16px !important;
}
.bm-17 {
    margin-bottom: 17px !important;
}
.bm-18 {
    margin-bottom: 18px !important;
}
.bm-19 {
    margin-bottom: 19px !important;
} 
.bm-20 {
    margin-bottom: 20px !important;
}
.bm-21 {
    margin-bottom: 21px !important;
}
.bm-22 {
    margin-bottom: 22px !important;
}
.bm-23 {
    margin-bottom: 23px !important;
}
.bm-24 {
    margin-bottom: 24px !important;
}
.bm-25 {
    margin-bottom: 25px !important;
}
.bm-26 {
    margin-bottom: 26px !important;
}
.bm-27 {
    margin-bottom: 27px !important;
}
.bm-28 {
    margin-bottom: 28px !important;
}
.bm-29 {
    margin-bottom: 29px !important;
}
.bm-30 {
    margin-bottom: 30px !important;
}



.tm-0 {
    margin-top: 0px !important;
}
.tm-1 {
    margin-top: 1px !important;
}
.tm-2 {
    margin-top: 2px !important;
}
.tm-3 {
    margin-top: 3px !important;
}
.tm-4 {
    margin-top: 4px !important;
}
.tm-5 {
    margin-top: 5px !important;
}
.tm-6 {
    margin-top: 6px !important;
}
.tm-7 {
    margin-top: 7px !important;
}
.tm-8 {
    margin-top: 8px !important;
}
.tm-9 {
    margin-top: 9px !important;
}
.tm-10 {
    margin-top: 10px !important;
}
.tm-11 {
    margin-top: 11px !important;
}
.tm-12 {
    margin-top: 12px !important;
}
.tm-13 {
    margin-top: 13px !important;
}
.tm-14 {
    margin-top: 14px !important;
}
.tm-15 {
    margin-top: 15px !important;
}
.tm-16 {
    margin-top: 16px !important;
}
.tm-17 {
    margin-top: 17px !important;
}
.tm-18 {
    margin-top: 18px !important;
}
.tm-19 {
    margin-top: 19px !important;
} 
.tm-20 {
    margin-top: 20px !important;
}
.tm-21 {
    margin-top: 21px !important;
}
.tm-22 {
    margin-top: 22px !important;
}
.tm-23 {
    margin-top: 23px !important;
}
.tm-24 {
    margin-top: 24px !important;
}
.tm-25 {
    margin-top: 25px !important;
}
.tm-26 {
    margin-top: 26px !important;
}
.tm-27 {
    margin-top: 27px !important;
}
.tm-28 {
    margin-top: 28px !important;
}
.tm-29 {
    margin-top: 29px !important;
}
.tm-30 {
    margin-top: 30px !important;
}
.tm-35 {
    margin-top: 35px !important;
}
.tm-40 {
    margin-top: 40px !important;
}
.tm-45 {
    margin-top: 45px !important;
}
.tm-50 {
    margin-top: 50px !important;
}


.rm-0 {
    margin-right: 0px !important;
}
.rm-1 {
    margin-right: 1px !important;
}
.rm-2 {
    margin-right: 2px !important;
}
.rm-3 {
    margin-right: 3px !important;
}
.rm-4 {
    margin-right: 4px !important;
}
.rm-5 {
    margin-right: 5px !important;
}
.rm-6 {
    margin-right: 6px !important;
}
.rm-7 {
    margin-right: 7px !important;
}
.rm-8 {
    margin-right: 8px !important;
}
.rm-9 {
    margin-right: 9px !important;
}
.rm-10 {
    margin-right: 10px !important;
}
.rm-11 {
    margin-right: 11px !important;
}
.rm-12 {
    margin-right: 12px !important;
}
.rm-13 {
    margin-right: 13px !important;
}
.rm-14 {
    margin-right: 14px !important;
}
.rm-15 {
    margin-right: 15px !important;
}
.rm-16 {
    margin-right: 16px !important;
}
.rm-17 {
    margin-right: 17px !important;
}
.rm-18 {
    margin-right: 18px !important;
}
.rm-19 {
    margin-right: 19px !important;
} 
.rm-20 {
    margin-right: 20px !important;
}
.rm-21 {
    margin-right: 21px !important;
}
.rm-22 {
    margin-right: 22px !important;
}
.rm-23 {
    margin-right: 23px !important;
}
.rm-24 {
    margin-right: 24px !important;
}
.rm-25 {
    margin-right: 25px !important;
}
.rm-26 {
    margin-right: 26px !important;
}
.rm-27 {
    margin-right: 27px !important;
}
.rm-28 {
    margin-right: 28px !important;
}
.rm-29 {
    margin-right: 29px !important;
}
.rm-30 {
    margin-right: 30px !important;
}



.lm-0 {
    margin-left: 0px !important;
}
.lm-1 {
    margin-left: 1px !important;
}
.lm-2 {
    margin-left: 2px !important;
}
.lm-3 {
    margin-left: 3px !important;
}
.lm-4 {
    margin-left: 4px !important;
}
.lm-5 {
    margin-left: 5px !important;
}
.lm-6 {
    margin-left: 6px !important;
}
.lm-7 {
    margin-left: 7px !important;
}
.lm-8 {
    margin-left: 8px !important;
}
.lm-9 {
    margin-left: 9px !important;
}
.lm-10 {
    margin-left: 10px !important;
}
.lm-11 {
    margin-left: 11px !important;
}
.lm-12 {
    margin-left: 12px !important;
}
.lm-13 {
    margin-left: 13px !important;
}
.lm-14 {
    margin-left: 14px !important;
}
.lm-15 {
    margin-left: 15px !important;
}
.lm-16 {
    margin-left: 16px !important;
}
.lm-17 {
    margin-left: 17px !important;
}
.lm-18 {
    margin-left: 18px !important;
}
.lm-19 {
    margin-left: 19px !important;
} 
.lm-20 {
    margin-left: 20px !important;
}
.lm-21 {
    margin-left: 21px !important;
}
.lm-22 {
    margin-left: 22px !important;
}
.lm-23 {
    margin-left: 23px !important;
}
.lm-24 {
    margin-left: 24px !important;
}
.lm-25 {
    margin-left: 25px !important;
}
.lm-26 {
    margin-left: 26px !important;
}
.lm-27 {
    margin-left: 27px !important;
}
.lm-28 {
    margin-left: 28px !important;
}
.lm-29 {
    margin-left: 29px !important;
}
.lm-30 {
    margin-left: 30px !important;
}



.m-0 {
    margin: 0px !important;
}
.m-1 {
    margin: 1px !important;
}
.m-2 {
    margin: 2px !important;
}
.m-3 {
    margin: 3px !important;
}
.m-4 {
    margin: 4px !important;
}
.m-5 {
    margin: 5px !important;
}
.m-6 {
    margin: 6px !important;
}
.m-7 {
    margin: 7px !important;
}
.m-8 {
    margin: 8px !important;
}
.m-9 {
    margin: 9px !important;
}
.m-10 {
    margin: 10px !important;
}
.m-11 {
    margin: 11px !important;
}
.m-12 {
    margin: 12px !important;
}
.m-13 {
    margin: 13px !important;
}
.m-14 {
    margin: 14px !important;
}
.m-15 {
    margin: 15px !important;
}
.m-16 {
    margin: 16px !important;
}
.m-17 {
    margin: 17px !important;
}
.m-18 {
    margin: 18px !important;
}
.m-19 {
    margin: 19px !important;
} 
.m-20 {
    margin: 20px !important;
}
.m-21 {
    margin: 21px !important;
}
.m-22 {
    margin: 22px !important;
}
.m-23 {
    margin: 23px !important;
}
.m-24 {
    margin: 24px !important;
}
.m-25 {
    margin: 25px !important;
}
.m-26 {
    margin: 26px !important;
}
.m-27 {
    margin: 27px !important;
}
.m-28 {
    margin: 28px !important;
}
.m-29 {
    margin: 29px !important;
}
.m-30 {
    margin: 30px !important;
}



.rp-0 {
    padding-right: 0px !important;
}
.rp-1 {
    padding-right: 1px !important;
}
.rp-2 {
    padding-right: 2px !important;
}
.rp-3 {
    padding-right: 3px !important;
}
.rp-4 {
    padding-right: 4px !important;
}
.rp-5 {
    padding-right: 5px !important;
}
.rp-6 {
    padding-right: 6px !important;
}
.rp-7 {
    padding-right: 7px !important;
}
.rp-8 {
    padding-right: 8px !important;
}
.rp-9 {
    padding-right: 9px !important;
}
.rp-10 {
    padding-right: 10px !important;
}
.rp-11 {
    padding-right: 11px !important;
}
.rp-12 {
    padding-right: 12px !important;
}
.rp-13 {
    padding-right: 13px !important;
}
.rp-14 {
    padding-right: 14px !important;
}
.rp-15 {
    padding-right: 15px !important;
}
.rp-16 {
    padding-right: 16px !important;
}
.rp-17 {
    padding-right: 17px !important;
}
.rp-18 {
    padding-right: 18px !important;
}
.rp-19 {
    padding-right: 19px !important;
} 
.rp-20 {
    padding-right: 20px !important;
}
.rp-21 {
    padding-right: 21px !important;
}
.rp-22 {
    padding-right: 22px !important;
}
.rp-23 {
    padding-right: 23px !important;
}
.rp-24 {
    padding-right: 24px !important;
}
.rp-25 {
    padding-right: 25px !important;
}
.rp-26 {
    padding-right: 26px !important;
}
.rp-27 {
    padding-right: 27px !important;
}
.rp-28 {
    padding-right: 28px !important;
}
.rp-29 {
    padding-right: 29px !important;
}
.rp-30 {
    padding-right: 30px !important;
}



.lp-0 {
    padding-left: 0px !important;
}
.lp-1 {
    padding-left: 1px !important;
}
.lp-2 {
    padding-left: 2px !important;
}
.lp-3 {
    padding-left: 3px !important;
}
.lp-4 {
    padding-left: 4px !important;
}
.lp-5 {
    padding-left: 5px !important;
}
.lp-6 {
    padding-left: 6px !important;
}
.lp-7 {
    padding-left: 7px !important;
}
.lp-8 {
    padding-left: 8px !important;
}
.lp-9 {
    padding-left: 9px !important;
}
.lp-10 {
    padding-left: 10px !important;
}
.lp-11 {
    padding-left: 11px !important;
}
.lp-12 {
    padding-left: 12px !important;
}
.lp-13 {
    padding-left: 13px !important;
}
.lp-14 {
    padding-left: 14px !important;
}
.lp-15 {
    padding-left: 15px !important;
}
.lp-16 {
    padding-left: 16px !important;
}
.lp-17 {
    padding-left: 17px !important;
}
.lp-18 {
    padding-left: 18px !important;
}
.lp-19 {
    padding-left: 19px !important;
} 
.lp-20 {
    padding-left: 20px !important;
}
.lp-21 {
    padding-left: 21px !important;
}
.lp-22 {
    padding-left: 22px !important;
}
.lp-23 {
    padding-left: 23px !important;
}
.lp-24 {
    padding-left: 24px !important;
}
.lp-25 {
    padding-left: 25px !important;
}
.lp-26 {
    padding-left: 26px !important;
}
.lp-27 {
    padding-left: 27px !important;
}
.lp-28 {
    padding-left: 28px !important;
}
.lp-29 {
    padding-left: 29px !important;
}
.lp-30 {
    padding-left: 30px !important;
}



.tp-0 {
    padding-top: 0px !important;
}
.tp-1 {
    padding-top: 1px !important;
}
.tp-2 {
    padding-top: 2px !important;
}
.tp-3 {
    padding-top: 3px !important;
}
.tp-4 {
    padding-top: 4px !important;
}
.tp-5 {
    padding-top: 5px !important;
}
.tp-6 {
    padding-top: 6px !important;
}
.tp-7 {
    padding-top: 7px !important;
}
.tp-8 {
    padding-top: 8px !important;
}
.tp-9 {
    padding-top: 9px !important;
}
.tp-10 {
    padding-top: 10px !important;
}
.tp-11 {
    padding-top: 11px !important;
}
.tp-12 {
    padding-top: 12px !important;
}
.tp-13 {
    padding-top: 13px !important;
}
.tp-14 {
    padding-top: 14px !important;
}
.tp-15 {
    padding-top: 15px !important;
}
.tp-16 {
    padding-top: 16px !important;
}
.tp-17 {
    padding-top: 17px !important;
}
.tp-18 {
    padding-top: 18px !important;
}
.tp-19 {
    padding-top: 19px !important;
} 
.tp-20 {
    padding-top: 20px !important;
}
.tp-21 {
    padding-top: 21px !important;
}
.tp-22 {
    padding-top: 22px !important;
}
.tp-23 {
    padding-top: 23px !important;
}
.tp-24 {
    padding-top: 24px !important;
}
.tp-25 {
    padding-top: 25px !important;
}
.tp-26 {
    padding-top: 26px !important;
}
.tp-27 {
    padding-top: 27px !important;
}
.tp-28 {
    padding-top: 28px !important;
}
.tp-29 {
    padding-top: 29px !important;
}
.tp-30 {
    padding-top: 30px !important;
}


  
.bp-0 {
    padding-bottom: 0px !important;
}
.bp-1 {
    padding-bottom: 1px !important;
}
.bp-2 {
    padding-bottom: 2px !important;
}
.bp-3 {
    padding-bottom: 3px !important;
}
.bp-4 {
    padding-bottom: 4px !important;
}
.bp-5 {
    padding-bottom: 5px !important;
}
.bp-6 {
    padding-bottom: 6px !important;
}
.bp-7 {
    padding-bottom: 7px !important;
}
.bp-8 {
    padding-bottom: 8px !important;
}
.bp-9 {
    padding-bottom: 9px !important;
}
.bp-10 {
    padding-bottom: 10px !important;
}
.bp-11 {
    padding-bottom: 11px !important;
}
.bp-12 {
    padding-bottom: 12px !important;
}
.bp-13 {
    padding-bottom: 13px !important;
}
.bp-14 {
    padding-bottom: 14px !important;
}
.bp-15 {
    padding-bottom: 15px !important;
}
.bp-16 {
    padding-bottom: 16px !important;
}
.bp-17 {
    padding-bottom: 17px !important;
}
.bp-18 {
    padding-bottom: 18px !important;
}
.bp-19 {
    padding-bottom: 19px !important;
} 
.bp-20 {
    padding-bottom: 20px !important;
}
.bp-21 {
    padding-bottom: 21px !important;
}
.bp-22 {
    padding-bottom: 22px !important;
}
.bp-23 {
    padding-bottom: 23px !important;
}
.bp-24 {
    padding-bottom: 24px !important;
}
.bp-25 {
    padding-bottom: 25px !important;
}
.bp-26 {
    padding-bottom: 26px !important;
}
.bp-27 {
    padding-bottom: 27px !important;
}
.bp-28 {
    padding-bottom: 28px !important;
}
.bp-29 {
    padding-bottom: 29px !important;
}
.bp-30 {
    padding-bottom: 30px !important;
}



.p-0 {
    padding: 0px !important;
}
.p-1 {
    padding: 1px !important;
}
.p-2 {
    padding: 2px !important;
}
.p-3 {
    padding: 3px !important;
}
.p-4 {
    padding: 4px !important;
}
.p-5 {
    padding: 5px !important;
}
.p-6 {
    padding: 6px !important;
}
.p-7 {
    padding: 7px !important;
}
.p-8 {
    padding: 8px !important;
}
.p-9 {
    padding: 9px !important;
}
.p-10 {
    padding: 10px !important;
}
.p-11 {
    padding: 11px !important;
}
.p-12 {
    padding: 12px !important;
}
.p-13 {
    padding: 13px !important;
}
.p-14 {
    padding: 14px !important;
}
.p-15 {
    padding: 15px !important;
}
.p-16 {
    padding: 16px !important;
}
.p-17 {
    padding: 17px !important;
}
.p-18 {
    padding: 18px !important;
}
.p-19 {
    padding: 19px !important;
} 
.p-20 {
    padding: 20px !important;
}
.p-21 {
    padding: 21px !important;
}
.p-22 {
    padding: 22px !important;
}
.p-23 {
    padding: 23px !important;
}
.p-24 {
    padding: 24px !important;
}
.p-25 {
    padding: 25px !important;
}
.p-26 {
    padding: 26px !important;
}
.p-27 {
    padding: 27px !important;
}
.p-28 {
    padding: 28px !important;
}
.p-29 {
    padding: 29px !important;
}
.p-30 {
    padding: 30px !important;
}
.p-35 {
    padding: 35px !important;
}
.p-40 {
    padding: 40px !important;
}
.p-45 {
    padding: 45px !important;
}
.p-50 {
    padding: 50px !important;
}



.sp-0 {
    padding: 0 0 0 0;
}
.sp-1 {
    padding: 0 1px 0 0;
}
.sp-2 {
    padding: 0 1px 0 1px;
}
.sp-3 {
    padding: 0 2px 0 1px;
} 
.sp-4 {
    padding: 0 2px 0 2px;
}
.sp-5 {
    padding: 0 3px 0 2px;
}
.sp-6 {
    padding: 0 3px 0 3px;
}
.sp-7 {
    padding: 0 4px 0 3px;
}
.sp-8 {
    padding: 0 4px 0 4px;
}
.sp-9 {
    padding: 0 5px 0 4px;
}
.sp-10 {
    padding: 0 5px 0 5px;
}
.sp-11 {
    padding: 0 6px 0 5px;
}
.sp-12 {
    padding: 0 6px 0 6px;
}
.sp-13 {
    padding: 0 7px 0 6px;
}
.sp-14 {
    padding: 0 7px 0 7px;
}
.sp-15 {
    padding: 0 8px 0 7px;
}
.sp-16 {
    padding: 0 8px 0 8px;
}
.sp-17 {
    padding: 0 9px 0 8px;
}
.sp-18 {
    padding: 0 9px 0 9px;
}
.sp-19 {
    padding: 0 10px 0 9px;
}
.sp-20 {
    padding: 0 10px 0 10px;
}
.sp-21 {
    padding: 0 11px 0 10px;
}
.sp-22 {
    padding: 0 11px 0 11px;
}
.sp-23 {
    padding: 0 12px 0 11px;
}
.sp-24 {
    padding: 0 12px 0 12px;
}
.sp-25 {
    padding: 0 13px 0 12px;
}
.sp-26 {
    padding: 0 13px 0 13px;
}
.sp-27 {
    padding: 0 14px 0 13px;
}
.sp-28 {
    padding: 0 14px 0 14px;
}
.sp-29 {
    padding: 0 15px 0 14px;
}
.sp-30 {
    padding: 0 15px 0 15px;
}
.sp-32 {
    padding: 0 16px 0 16px;
}
.sp-34 {
    padding: 0 17px 0 17px;
}
.sp-36 {
    padding: 0 18px 0 18px;
}
.sp-38 {
    padding: 0 19px 0 19px;
}
.sp-40 {
    padding: 0 20px 0 20px;
}
.sp-45 {
    padding: 0 25px 0 20px;
}
.sp-50 {
    padding: 0 25px 0 25px;
}



.cc-parent {
    text-align: center;
}

.lc-parent {
    text-align: left;
}

.rc-parent {
    text-align: right;
}

.ch-child {
    display: inline-block;
    vertical-align: middle;  
    margin: auto;
}

.ct-child {
    display: inline-block;
    vertical-align: top;  
    margin: auto;
}



.no-select {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}



.hide {
  display: none;
}



.no-scroll {
    overflow: hidden;
}

.small {
    font-size: 10px;
}

.justify {
    text-align: justify !important;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

.center {
    text-align: center !important;
}

.card-effect {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*transition: 0.3s;*/
}

.card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card-shadow:hover {
    transform: scale(1.15);
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

.text-shadow {
    text-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.flex-filler {
    flex: 1;
}