.default-loader {
    top: 75%;
}

.splash-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

p {
    margin: 0;
    padding: 0;
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

b {
    font-weight: 800;
}

.title {
    font-weight: 800; 
    font-size: 102px;
  
    color: transparent;

    -webkit-text-stroke: 4px #333;
    -moz-text-stroke: 4px #333;

    animation: stroke-animation 1s linear infinite;
    animation-direction: alternate;
}

@keyframes stroke-animation {
  0% {
    -webkit-text-stroke-color: #333;
    -moz-text-stroke-color: #333;
  }
  100% {
    -webkit-text-stroke-color: #dc3545;
    -moz-text-stroke-color: #dc3545;
  }
}

.label {
    color: #333;
    font-weight: 800; 
    font-size: 22px;
    margin-top: -27px;
    margin-bottom: 20px;
    animation: color-animation 1s linear infinite;
    animation-direction: alternate-reverse;
}

@keyframes color-animation {
    0% {
      color: #333;
    }
    100% {
        color: #dc3545;
    }
  }

.user {
    font-size: 26px;
}

.email {
    font-weight: 800; 
    font-size: 16px;
}

.domain {
    font-size: 16px;
}

.message {
    font-size: 16px;
}

.circle-image {
    border-radius: 50%; 
    height: 100px; 
    width: 100px;
    
    -webkit-box-shadow: 3px 3px 7px 0px var(--drop-shadow-color-2);
    -moz-box-shadow: 3px 3px 7px 0px var(--drop-shadow-color-2);
    box-shadow: 3px 3px 7px 0px var(--drop-shadow-color-2);
    
    border: 5px var(--common-color-2) solid;
    cursor: pointer;
}

img {
    width: 100px;
    height: 100px;
}

.action-button {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 800;
    display: block;
    display: inline-block;
}

#authorisation-splash {
    background: 
    /* On "top" */
    repeating-linear-gradient(
        45deg,
        transparent,
        transparent 80px,
        #ccc 80px,
        #ccc 160px
    ),
    /* on "bottom" */
    linear-gradient(
        to bottom,
        #eee,
        #999
    );
}