<div id="authorisation-splash" class="splash-flex">
    <div>
        <img src="{{appdata.assets.appLogoImage}}" class="circle-image rm-5"/>
        <img src="{{appdata.user.imageUrl}}?sz=100" class="circle-image lm-5" title="{{appdata.user.name}} | {{appdata.user.email}}"/>
    </div>
    {{#unless appdata.user.userAuthorised}}
        <p class="title tp-20" title="{{static.tip}}">{{static.title}}</p>
        {{#if appdata.user.domainAuthorised}}
            <p class="label">UNAUTHORISED USER | LEVEL 2</p>
        {{else}}
            <p class="label">UNAUTHORISED DOMAIN | LEVEL 1</p>
        {{/if}}
        <p class="user">{{appdata.user.name}}</p>
        <p class="email">{{appdata.user.email}}</p>
        <p class="domain">{{appdata.user.domain}}</p>
        {{#if appdata.user.domainAuthorised}}
            <p class="message tp-30">Sorry, <b>{{appdata.user.name}}</b>, you are <b>not</b> authorised...</p>
        {{else}}
            <p class="message tp-30">Sorry, <b>{{appdata.user.name}}</b>, your domain <b>{{appdata.user.domain}}</b> is <b>not</b> authorised...</p>
        {{/if}}
        <p class="message tp-10">Pleaes contact administrator!</p>
    {{else}}
        <p class="label" style="margin: 0; margin-top: 25px">HURRAY, YOU ARE AUTHORISED!</p>
    {{/unless}}
    <div class="tp-30">
        <a class="btn btn-success action-button rm-5" href="mailto:{{appdata.assets.administratorEmail}}">
            <i class="{{static.buttons.contact.iconClass}} rp-5"></i>
            <span>{{static.buttons.contact.title}}</span>
        </a>
        <a class="btn btn-danger action-button" href="#authorisation" onclick="{{static.buttons.signout.onClick}}">
            <i class="{{static.buttons.signout.iconClass}} rp-5"></i>
            <span>{{static.buttons.signout.title}}</span>
        </a>
    </div>
    <a class="btn btn-primary action-button tm-30" href="#home" style="width: 50px; height: 50px;">
        <i class="{{static.buttons.home.iconClass}} tp-10"></i>
    </a>
</div>