<div id="pn-menus-dynamic">
{{#if static.calls.applications.result}}
    <p>{{static.calls.applications.title}}</p>
    {{#each static.calls.applications.result}}
        <a id="pane-menu-applications-{{this.id}}" href="#applications/{{this.id}}" onclick="app.sidepane.close();">
            <i class="far fa-window-maximize lm-15 rm-15"></i>
            <span>{{this.description}}</span>
        </a>
    {{/each}}
{{/if}}
</div>