.containerr {
    max-width: 1200px;
    margin: 0 auto;
}
  
.cardds {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 1.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
.cardd {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
    background: #eee;
    color: #333;
    text-decoration: none;
    -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

@media (max-width: 700px) {
    .cardd {
      width: 100%;
    }
}
  
@media (min-width: 700px) {
    .cardd {
      max-width: 320px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .cardd:nth-child(even) {
      margin-right: 0;
    }
}

@media (min-width: 980px) {
    .cardd:nth-child(even) {
      margin-right: 20px;
    }
    .cardd:nth-child(3n) {
      margin-right: 0;
    }
}

.cardd span {
    display: block;
}

.cardd .cardd-summary {
    width: 300px;
    padding: 5% 5% 3% 5%;
}

.cardd-summary > p {
    margin: 0;
}

.cardd-summary .header {
    margin-top: 20px;
}

.cardd-summary .details {
    margin-left: 20px;
}

.cardd .cardd-header {
    position: relative;
    height: 175px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--app-main-color-3); /* background-color: rgba(255, 255, 255, 0.15); */
    background-blend-mode: overlay;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 0 0;
}

.obj-header {
    background-color: var(--app-second-color) !important; /* background-color: rgba(255, 255, 255, 0.15); */
}

.obj-title {
    background-color:var(--app-second-color-2) !important; /* background-color: rgba(255, 255, 255, 0.15); */
}

.cardd .cardd-title {
    background-color: var(--app-main-color); /* background: rgba(157, 187, 63, 0.85); */
    padding: 3.5% 0 2.5% 0;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.cardd .cardd-title h3 {
    font-size: 1.2em;
    line-height: 1.2;
    padding: 0 3.5%;
    margin: 0;
}

b {
    font-weight: 800;
}

.cardd .cardd-objects {
    background-color: transparent; /* background: rgba(157, 187, 63, 0.85); */
    padding: 2.5% 0 2.5% 0;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    text-shadow: 2px, 2px, #333;
}

.cardd .cardd-objects h1 {
    font-size: 6.2em;
    font-weight: 800;
    line-height: 1.2;
    padding: 0 3.5%;
    margin: 0;
}

.cardd .cardd-meta {
    max-height: 0;
    overflow: hidden;
    color: #666;
    font-size: .78em;
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
    padding: 0 5%;
    -moz-transition-property: max-height;
    -o-transition-property: max-height;
    -webkit-transition-property: max-height;
    transition-property: max-height;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.cardd:hover, .cardd:focus {
    background: white; 
    -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}

.cardd:hover .cardd-title, .cardd:focus .cardd-title le {
    background-color: var(--app-main-color); /* background: rgba(157, 187, 63, 0.95); */
}

.cardd:hover .cardd-meta, .cardd:focus .cardd-meta {
    max-height: 1.2em;
}

.badge {
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 15px;
    background-color: crimson;
}
  
.containerr * {
    -moz-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -moz-transform;
    -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -o-transform;
    -webkit-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform;
    transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}