<div id="signout-splash" class="splash-flex rm-bkgd">
    <div class="my-card">
        {{#if appdata.user.imageUrl}}
            <img src="{{appdata.user.imageUrl}}?sz=150" class="circle-image"/>
        {{else}}
            <img src="{{static.user.defaultUrl}}" class="circle-image"/>
        {{/if}}         
        <h3 style="margin-top: 10px">{{appdata.user.name}}</h3>
        <h5 style="margin-top: 2px; color: #333;">{{appdata.user.email}}</h5>
        <div style="margin-top: 35px">
            <a id="signout-cancel" href="#home" class="btn btn-success action-button rm-5">
                <i class="{{static.buttons.cancel.icon-class}}"></i>
                <span>{{static.buttons.cancel.title}}</span>
            </a>
            <a id="google-signout" href="#signout" class="btn btn-danger action-button" onclick="{{static.buttons.signout.on-click-method-call}}">
                <i class="{{static.buttons.signout.icon-class}}"></i>
                <span>{{static.buttons.signout.title}}</span>
            </a>
        </div>
    </div>
</div>