.circle-image {
    border-radius: 50%; 
    height: 150px; 
    width: 150px;
    
    -webkit-box-shadow: 3px 3px 7px 0px var(--drop-shadow-color-2);
    -moz-box-shadow: 3px 3px 7px 0px var(--drop-shadow-color-2);
    box-shadow: 3px 3px 7px 0px var(--drop-shadow-color-2);
    
    border: 5px var(--common-color-2) solid;
    cursor: pointer;
}

.action-button {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 800;
    display: block;
    margin: auto;
    display: inline-block;
}

.action-button span {
    margin-left: 10px;
}

.my-card {
    text-align: center;
    padding: 40px 25px 40px 25px;
    border-radius: 4px; 
    border: 0px solid #eee;
    background: rgba(133, 133, 133, 0.25);

    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
    /* On mouse-over, add a deeper shadow */
.my-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
    